<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
    Author: Brock Hemsouvanh
    Date: 11/14/23
    File Description:
    This file provides the boarding page structure for the Pets-R-Us website.
-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pets-R-Us</title>
</head>
<body>
        
      </header>
    <%- include('partials/header') %>

    <div class="upper-section">
        <h1>Boarding Services</h1><br><hr>
        <h2>our home is our guests' home!</h2>
    </div>
        <div class="mid-section">
            <div class="boarding-content">
                <div class="boarding-image">
                    <img src="/images/happy-relax-people.jpg" alt="Our boarding service include lots of cuddles.">
                </div>
            <p class="intro">
                Our boarding experience is centered around our deep respect for each animal as a unique and valued individual. 
                Our vegan principles guide us in providing a nurturing, loving environment, ensuring a serene and comfortable 
                stay for your cherished companions in our spacious accommodations.
                <br><br>
                We are committed to the health and well-being of our guests, serving meals made from high-quality, human-grade 
                ingredients. This ensures that every meal is not only delicious but also meets the nutritional needs of our guests.
                <br><br>
                Our activities are thoughtfully designed to promote gentle play and socialization, allowing each animal to relax 
                and engage in a safe, supervised setting. We take the time to understand and cater to the individual preferences 
                and needs of each guest. In line with our commitment to ethical care, we use only cruelty-free, eco-friendly 
                products in all aspects of our services. At Pets-R-Us, we believe in creating an experience that upholds our 
                values of compassion and empathy, making your pet's stay both enjoyable and in harmony with our principles.
                </p>
            </div>
        </div>


    <!-- the follow div was authored by Professor Richard Krasso --> 
    <div class="grid">

        <div class="card">
            <div class="card-title"></div>
            <div class="card-content">
                <ul>
                    <li class="p-10">
                        1 guest up to 5 nights: $40/night
                    </li>
                    <li class="p-10">
                        1 guest 5 nights or over: $35/night
                    </li>
                    <li class="p-10">
                        2 guests up to 5 nights: $65/night
                    </li>
                    <li class="p-10">
                        2 guests 5 nights or over: $60/night
                    </li>
                    <li class="p-10">
                        3 guests up to 5 nights: $90/night
                    </li>
                    <li class="p-10">
                        3 guests 5 nights or over: $75/night
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>