<!-- 
    File: customer-list.ejs
    Author: Brock Hemsouvanh
    Date: 12/3/23
    File Description: Page to display the list of customers who've registered. The list is pulled from a MongoDB via 
    Mongoose dependency.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Nunito:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&family=Russo+One&display=swap" rel="stylesheet">
    <title>Pets-R-Us</title>
</head>
<body>
<%- include('partials/header.ejs') %>

<!-- following section originally authored by Professor Richard Krasso. Source: https://github.com/buwebdev/web-340/blob/master/week-7/fms/views/fruit-list.ejs-->
<section class="container">
    <h1 class="center-text">Customer List</h1><br><hr>

  <div class="card">
      <div class="card-title">
          <h4>Our Customers</h4>
      </div>

      <div class="card-content">
          <% if(customers.length > 0) { %>
          <table class="table">
              <tr>
                  <th>Customer ID</th>
                  <th>Email</th>
              </tr>
              <tbody>
              <% customers.forEach(function(customer) { %>
              <tr>
                  <td>
                      <%= customer.id %> <!-- Will be replaced with actual property names -->
                  </td>
                  <td>
                      <%= customer.email %> <!-- Will be replaced with actual property names -->
                  </td>
              </tr>
              <% }) %>
              </tbody>
          </table>
          <% } else { %>
          <h3>No customers have been added to the database. Add some to see them here!</h3>
          <% } %>
      </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>

</body>
</html>

