<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
    Author: Brock Hemsouvanh
    Date: 11/11/23
    File Description:
    This file provides the main page structure for the Pets-R-Us website.
-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Nunito:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pets-R-Us</title>
</head>
<body>

    <%- include('partials/header') %>

    <h1>Welcome to Pets-R-Us!</h1>

    <p class="intro">We love animals and we know you do too! That's why </p>

    <%- include('partials/footer') %>
    
</body>
</html>
