<!-- 
    File: register.ejs
    Author: Brock Hemsouvanh
    Date: 11/29/23
    File Description: This file provides the registration page structure for the Pets-R-Us website.
    Once the user submits their registration, they will be redirected back to the landing page.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Nunito:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pets-R-Us</title>
</head>
<body>
<%- include('partials/header.ejs') %>

<!-- following section originally authored by Professor Richard Krasso. Source: https://github.com/buwebdev/web-340/blob/master/week-6/fms/views/fruit-create.ejs-->
<section>
    <h1 class="center-text"></h1>

    <div class="card center-div">
        <div class="card-title"><h3>Please Register Here</h3></div>
        <div class="card-content">
            <div class="form">
                <form action="/register" method="post">
                    <div class="form-field">
                        <label for="customerId">Customer ID</label><br />
                        <input class="input" type="text" name="customerId" id="customerId" required autofocus>
                    </div>

                    <div class="form-field">
                        <label for="email">Email</label><br />
                        <input class="input" type="email" name="email" id="email" required>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Register" class="btn btn-primary full-width">
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<%- include('partials/footer.ejs') %>

</body>
</html>

