<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
    Author: Brock Hemsouvanh
    Date: 11/14/23
    File Description:
    This file provides the training page structure for the Pets-R-Us website.
-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pets-R-Us</title>
</head>
<body>
        
      </header>
    <%- include('partials/header') %>

    <h2>Welcome to the Pets-R-Us Training Page!</h2>
    <p>This is the page where you can find all about our pet training services.</p>
    <div class="image-container">
        <img src="/images/meme-garden-guardian.jpg" alt="Meme was trained to do the garden a heckin' protec.">
    </div>
    <%- include('partials/footer') %>
</body>
</html>
